<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% extends "form/modello_form.html" %}



    {%block form%}
    <div class=float-center >
        <div class="titolo">
           <h1> {{argomento}}</h1> 
           <p> {{messaggio}}</p>
        </div>
    

        <form action="" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <input type="text" class="form-control" name="username" placeholder="nome utente"> 
            </div>
            <div class="form-group">
                <input type="text" class="form-control" name="password" placeholder="password"> 
            </div>
            <div>
                <input type="submit" class="btn btn-primary">
                <a href="cambia_password"> password dimenticata ?</a>
                <a href="registrati"> registrati </a>
            </div>
        </form>
    </div>
    {%endblock%}
</body>
</html>