<!--visualizza i dati dei dipendenti-->

{% extends "visualizza/modello_visualizza.html" %}

{% block data%}
    {% if "dipendenti" in oggetto and "tutte" in filtro%}
        <tr>
            <th> nome </th>
            <th> codice fiscale </th>
            <th> iban</th>
            <th> email </th>
            <th></th>
        </tr>
        {%for dipendente in dipendenti%}
            <tr>
                <th>{{dipendente.name}}</th>
                <th>{{dipendente.codice_fiscale}}</th>
                <th>{{dipendente.iban}}</th>
                <th>{{dipendente.mail}}</th>
                <th> <a href="{% url 'modifica' username=username agriturismo=agriturismo oggetto=oggetto id_oggetto=dipendente.id %}" role="button" > modifica </a></th>
                <th> <a href="{% url 'elimina' username=username agriturismo=agriturismo oggetto=oggetto id_oggetto=dipendente.id %}" role="button" > elimina</a></th>
            </tr>
        {%endfor%}
    {%endif%}
{%endblock%}

{% block pulsanti %}
    <a href="/gestione/{{username}}/{{agriturismo}}/{{oggetto}}/aggiungi" class="btn btn-primary" role="button">  aggiungi {{oggetto}} </a>
{%endblock%}