<!--visualizza i dati delle entrate-->

{% extends "visualizza/modello_visualizza.html" %}

{% block data%}
    {% if "entrate" in oggetto and "tutte" in filtro%}
        <tr>
            <th> data</th>
            <th> quantità </th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        {%for entrata in entrate%}
            <tr>
                <th>{{entrata.Date}}</th>
                <th>{{entrata.Quantity}}</th>
                <th></th>
                <th> <a href="{% url 'modifica' username=username agriturismo=agriturismo oggetto=oggetto id_oggetto=entrata.id %}" role="button" > modifica </a></th>
                <th> <a href="{% url 'elimina' username=username agriturismo=agriturismo oggetto=oggetto id_oggetto=entrata.id %}" role="button" > elimina</a></th>
            </tr>
        {%endfor%}
    {%endif%}
{%endblock%}

{% block pulsanti %}
    <a href="/gestione/{{username}}/{{agriturismo}}/{{oggetto}}/aggiungi" class="btn btn-primary" role="button">  aggiungi {{oggetto}} </a>
{%endblock%}