{% extends "modello_aggiungi.html" %}



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {%block form%}
    <div class=float-center>
    <h1> aggiungi {{argomento}}</h1>

    {%if 'camere' in argomento%}
    <form action="{% url 'aggiungi' argomento=argomento%}" method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for="numero_camera"> inserisci il numero della camera </label> <br>
            <input type="number" name="number" id="numero_camera"> 
        </div>

        <div class="form-group">
            <label for="prezzo"> inserisci il prezzo </label>
            <input type="number" name="prize" id="prezzo">
        </div>

        <div class="form-group">
            <label for="clienti_ospitabili"> inserisci il numero di clienti ospitabili  </label>
            <input type="number" name="clienti_ospitabili">
        </div>

        <div class="form-group">
            <label for="appunti_gestore"> inserisci appunti  </label>
            <input type="text" name="appunti_gestore">
        </div>

        <div class="form-group">
            <label for="appunti_cliente"> inserisci appunti per il cliente </label>
            <input type="text" name="appunti_cliente">
        </div>

        <input type="submit" class="btn btn-primary">
    </form>
    </div>
    {%else%}
      in lavorazione
    {%endif%}
    {%endblock%}
    
</body>
</html>