{% extends "modello_form.html" %}



    {%block form%}
    <div class=float-center >
        <div class="titolo">
           <h1> {{argomento}}</h1> 
        </div>
    

        <form action="" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="name"> inserisci il nome dell'agriturismo </label> <br>
                <input type="text" class="form-control" name="name" id="name"> 
            </div>
            <div class="form-group">
                <label for="address"> inserisci l'indirizzo </label> <br>
                <input type="text" class="form-control" name="address" id="address"> 
            </div>
            <input type="submit" class="btn btn-primary">


        </form>
    </div>
    {%endblock%}