{% extends "modello_form.html" %}



    {%block form%}
    <div class=float-center >
        <div class="titolo">
           <h1> {{argomento}}</h1> 
        </div>
    

        <form action="" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="username"> inserisci lo username </label> <br>
                <input type="text" class="form-control" name="username" id="username"> 
            </div>
            <div class="form-group">
                <label for="nuova_password"> inserisci nuova password </label> <br>
                <input type="password" class="form-control" name="nuova_password" id="nuova_password"> 
            </div>
            <input type="submit" class="btn btn-primary">


        </form>
    </div>
    {%endblock%}