{% extends "modello_form.html" %}



    {%block form%}
    <div class=float-center >
        <div class="titolo">
           <h1> elimina {{argomento}}</h1> 
        </div>
    

        <form action="{% url 'elimina' username=username argomento=argomento%}" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="numero_camera"> inserisci il numero della camera </label> <br>
                <input type="number" class="form-control" name="number" id="numero_camera" min="000" max="999"> 
            </div>
        </form>
    </div>
    {%endblock%}