{% extends "modello_form.html" %}



    {%block form%}
    <div class=float-center >
        <div class="titolo">
           <h1> modifica {{argomento}}</h1> 
        </div>
    

        <form action="{% url 'modifica' username=username argomento=argomento %}" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="number"> inserisci il numero della camera che vuoi modificare</label> <br>
                <input type="text" class="form-control" name="number" id="number" min="000" max="999"> 
            </div>
            <div class="form-group">
                <label for="prize"> inserisci il nuovo prezzo della camera</label> <br>
                <input type="text" class="form-control" name="prize" id="prize" min="000" max="999"> 
            </div>

            <input type="submit" class="btn btn-primary">
        </form>
    </div>
    {%endblock%}