{% extends "modello_form.html" %}



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {%block form%}
    <div class=float-center >
        <div class="titolo">
           <h1> aggiungi {{argomento}}</h1> 
        </div>
    

    {%if 'camere' in argomento%}
    <form action="{% url 'aggiungi' username=username agriturismo=agriturismo argomento=argomento%}" method="POST">
        {% csrf_token %}
        <div class="form-row">
            <div class="col">
              <input type="number" class="form-control" name="number" placeholder="numero stanza" min="000" max="999">
            </div>
            <div class="col">
              <input type="number" class="form-control" name="prize" placeholder="prezzo stanza">
            </div>
          </div>

        <div class="form-group">
            <label for="clienti_ospitabili"> inserisci il numero di clienti ospitabili  </label>
            <input type="number" class="form-control" name="clienti_ospitabili">
        </div>

        <div class="form-group">
            <label for="appunti_gestore"> inserisci appunti  </label>
            <input type="text" class="form-control" name="appunti_gestore" maxlength="100">
        </div>

        <div class="form-group">
            <label for="appunti_cliente"> inserisci appunti per il cliente </label>
            <input type="text" class="form-control" name="appunti_cliente">
        </div>

        <input type="submit" class="btn btn-primary">
    </form>
    </div>
    {%elif 'clienti' in argomento%}
    <form action="{% url 'aggiungi' username=username agriturismo=agriturismo argomento=argomento%}" method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for="name"> inserisci il nome del cliente </label> <br>
            <input type="text" class="form-control" name="name" id="name"> 
        </div>

        <div class="form-group">
            <label for="mail"> inserisci la mail del cliente </label>
            <input type="mail" class="form-control" name="mail" id="mail">
        </div>

        <div class="form-group">
            <label for="number_cell"> inserisci il numero di telefono del cliente  </label>
            <input type="number" class="form-control" name="number_cell">
        </div>

        <input type="submit" class="btn btn-primary">
    </form>
    </div>
      
    {%elif 'dipendenti' in argomento%}
    <form action="{% url 'aggiungi' username=username agriturismo=agriturismo argomento=argomento%}" method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for="name"> inserisci il nome del del dipendete </label> <br>
            <input type="text" class="form-control" name="name" id="name"> 
        </div>

        <div class="form-group">
            <label for="codice_fiscale"> inserisci il codice fiscale del cliente  </label>
            <input type="text" class="form-control" name="codice_fiscale" id="codice_fiscale">
        </div>

        <div class="form-group">
            <label for="mail"> inserisci la mail del dipendente  </label>
            <input type="mail" class="form-control" name="mail" id="mail">
        </div>

        <div class="form-group">
            <label for="iban"> inserisci l'iban del dipendente  </label>
            <input type="number" class="form-control" name="iban">
        </div>

        <input type="submit" class="btn btn-primary">
    </form>
    </div>

    {%elif 'entrate' in argomento%}
    <form action="{% url 'aggiungi' username=username agriturismo=agriturismo argomento=argomento%}" method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for="date"> inserisci data </label> <br>
            <input type="date" class="form-control" name="date" id="date"> 
        </div>

        <div class="form-group">
            <label for="quantity"> inserisci quantità  </label>
            <input type="number" class="form-control" name="quantity" id="quantity">
        </div>

        <input type="submit" class="btn btn-primary">
    </form>
    </div>

    {%elif 'uscite' in argomento%}
    <form action="{% url 'aggiungi' username=username agriturismo=agriturismo argomento=argomento%}" method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for="date"> inserisci data </label> <br>
            <input type="date" class="form-control" name="date" id="date"> 
        </div>

        <div class="form-group">
            <label for="quantity"> inserisci quantità  </label>
            <input type="number" class="form-control" name="quantity" id="quantity">
        </div>


        <input type="submit" class="btn btn-primary">
    </form>
    </div>
    {%elif 'servizzi' in argomento%}
        <form action="{% url 'aggiungi' username=username agriturismo=agriturismo argomento=argomento%}" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="name"> inserisci il nome del servizio </label> <br>
                <input type="text" class="form-control" name="name" id="name"> 
            </div>

            <div class="form-group">
                <label for="prize"> inserisci il prezzo del servizio  </label>
                <input type="number" class="form-control" name="prize" id="prize">
            </div>

            <input type="submit" class="btn btn-primary">
        </form>
    {%elif 'promozioni' in argomento%}
        <form action="{% url 'aggiungi' username=username agriturismo=agriturismo argomento=argomento%}" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="name"> inserisci il nome della promozione </label> <br>
                <input type="text" class="form-control" name="name" id="name"> 
            </div>

            <input type="submit" class="btn btn-primary">
        </form>
    {% elif 'agriturismo' in argomento%}
        <form action="{% url 'aggiungi' username=username agriturismo=agriturismo%}" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="name"> inserisci il nome della promozione </label> <br>
                <input type="text" class="form-control" name="name" id="name"> 
            </div>

            <div class="form-group">
                <label for="address"> inserisci il nome della promozione </label> <br>
                <input type="text" class="form-control" name="address" id="address"> 
            </div>

            <input type="submit" class="btn btn-primary">
        </form>
    {%elif 'prenotazioni' in argomento%}
        <form action="{% url 'aggiungi' username=username agriturismo=agriturismo argomento=argomento %}" method="POST">
            {% csrf_token %}

            <div class="form-group">
                <label for="stato">seleziona cliente</label>
                <select class="form-control" id="stato" name="cliente_id" >
                {%for  cliente in clienti%}
                <option value="{{cliente.id}}"> {{cliente.name}}</option>
                {%endfor%}
                </select>
            </div>

            <div class="form-group">
                <label for="stato">seleziona stanza</label>
                <select class="form-control" id="stato" name="camera_id">
                    {%for camera in camere%}
                    <option value="{{camera.id}}"> {{camera.number}}</option>
                    {%endfor%}
                </select>
            </div>

            <input type="submit" class="btn btn-primary">
        </form>
    {%endif%}
    {%endblock%}
    
</body>
</html>