{% extends "modelli/modello_form.html" %}

{%block form%}
    <div class=float-center >
        <div class="titolo">
           <h1> {{frase}}</h1> 
            {%if "False" in esiste or "aggiungi" in funzione%}
                <form action="/gestione/{{username}}/agriturismo/aggiungi/nessuno"
                return redirect(url) method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="name"> inserisci il nome dell'agriturismo </label> <br>
                        <input type="text" class="form-control" name="name" id="name"> 
                    </div>
                    <div class="form-group">
                        <label for="address"> inserisci l'indirizzo dell'agriturismo </label> <br>
                        <input type="text" class="form-control" name="address" id="address"> 
                    </div>
                    <div>
                        <input type="submit" class="btn btn-primary">
                    </div>
                </form>
            {%elif "True" in esiste or "scelta" in funzione%}
                <div>
                    {%for valore in agriturismi%}
                        <a href="/gestione/{{username}}/{{valore.FarmHouseName}}/attivita/verifica_scegli/None"> <button type="button" class="btn btn-outline-info"> {{valore.FarmHouseName}} {{valore.address}}</button></a>
                        <a href="/gestione/{{username}}/agriturismo/elimina/{{valore.id}}" role="button" > elimina</a> <br>
                    {%endfor%}
                    <a href="/gestione/{{username}}/agriturismo/aggiungi/nessuno" role="button" > aggiungi</a>
                </div>
            {%endif%}
        </div>
    </div>
{%endblock%}