
<!-- è uno stamino per le pagine--> 

{% load static%}

<!DOCTYPE html>
<html>
<head>
  <title> {% block title %}  {% endblock %}</title>
  {%block CSS%}
  <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.slim.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

    <style> 
    div.col-md-2{
      padding:0;
    }
    /* stile pulsanti boostrap*/
    .btn { 
      border-radius: 20px;
      margin: 7px;
      } 
    #menu .btn{
      width: 75%;
      margin-top:3px;
    }
    img{
      width: 100px;
      border-radius: 100%;
      margin-top: 2em;
    }
    </style>


    {%endblock%}
</head>
<body>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <div class="text-center float-center" id="menu">
        <!-- come scrivere gli url -->
        <div class="text-center" style="margin: 20px">
          <a href=""> <img src="{% static 'immagine utente.webp' %}" alt="immagine utente"> </a>
          <p style=" padding-left: 10px;"> benvenuto {{user.username}} </p> <a href="{% url 'logout' %}"> logout</a>
        </div>
        <br>
        <br>
        <a href="{% url 'visualizza' username=username agriturismo=agriturismo argomento='camere' scelta='tutte'%}" class="btn btn-primary" role="button"> <i class="bi bi-houses-fill"> camere </i> </a> 
        <a href="{% url 'visualizza' username=username agriturismo=agriturismo argomento='clienti' scelta='tutte'%}" class="btn btn-primary" role="button"> <i class="bi bi-people-fill"> clienti </i> </a> 
        <a href="{% url 'visualizza' username=username agriturismo=agriturismo argomento='dipendenti' scelta='tutte'%}" class="btn btn-primary" role="button"> dipendenti   </a> 
        <a href="{% url 'visualizza' username=username agriturismo=agriturismo argomento='entrate' scelta='tutte'%}" class="btn btn-primary" role="button"> entrate   </a> 
        <a href="{% url 'visualizza' username=username agriturismo=agriturismo argomento='uscite' scelta='tutte'%}" class="btn btn-primary" role="button"> uscite </a> 
      </div>
    </div>
    <div class="col-md-10">
      <div class="text-center">
        <h1> {{agriturismo}}</h1>
              <div class="text-center">
                <a href="{% url 'visualizza' username=username agriturismo=agriturismo argomento='camere' scelta='libera' %}" class="btn btn-primary" role="button">  stanze  libere </a>
                <a href="{% url 'visualizza' username=username agriturismo=agriturismo argomento='camere' scelta='occupata' %}" class="btn btn-danger" role="button">  stanze  occupate </a> 
              </div>
      </div>
      <div class="text-align">
        <h3> seleziona agriturismo</h3>
        {%block seleziona_agriturismo%}
        {%endblock%}
      </div>
      <div class="text-align">
        <h3> filtra</h3>
        {%block filtri%}
        {%endblock%}
      </div>
      <div class="container" >
        <!-- blocco per l'inserimento dell'h1-->
      <!-- blocco per inserimento dell'h2-->
      <h2> {%block h2%}{%endblock%} </h2>   
      
      <div class="table-responsive">          
      <table class="table">
          <!--blocco per inserimento indice della tabella-->
          {% block ind%}
          {%endblock%}
          <!-- blocco per inserimento dei dati delle tabelle-->
          {% block data%}
          {%endblock%}
      </table>
      </div>
    </div>




<div class="text-center">
  {% block pulsanti %}
  
  {% endblock %}
</div>

</body>
</html>