<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <form action="{% url 'camere' scelta=T %}" method="post">
        {% csrf_token %}
        <fieldset>
            <legend><h1>{{ Room.name }}</h1></legend>
                <input type="text" name="Room" id="Room{{ forloop.counter }}" value="{{ Room.id }}">
                <label for="choice{{ forloop.Room }}">{{ Room.name }}</label><br>
        </fieldset>
        <input type="submit" value="Vote">
        </form>
    
</body>
</html>