{% extends "visualizza/modello_visualizza.html" %}



<!DOCTYPE html>
<html lang="en">
<head>
  
    <!-- inserire un modale -->



    <!--aggiungono una stringa specifica in punti specifici della pagina-->
    {% if nome_pagina %}
       {% block title %} {{agriturismo}} {% endblock %}
       {%block h1%} {{agriturismo}} {%endblock%}
       {%block h2%} {{nome_pagina}} {{agriturismo}} {%endblock%}
    {% endif %}

    {% block pulsanti %}
      <a href="/gestione/{{username}}/{{agriturismo}}/aggiungi/{{nome_pagina}}" class="btn btn-primary" role="button">  aggiungi {{nome_pagina}} </a>
    {%endblock%}

    {%block seleziona_agriturismo%}
      <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{agriturismo}}
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="/gestione/visualizza/{{username}}/tutti/{{nome_pagina}}/{{scelta}}"> tutti </a>
          {%for valore in valori_FarmHouses%}
            <a class="dropdown-item" href="{% url 'visualizza' username=username agriturismo=valore.FarmHouseName argomento=nome_pagina scelta=scelta %}">  {{valore.FarmHouseName}} </a>
          {%endfor%}
        </div>
      </div>
    {%endblock%}


    <!-- visualizazione blocco filtri-->
    {% block filtri%}
      {%if "camere" in nome_pagina%}
        <div class="dropdown">
          <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            stato
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="{% url 'visualizza' username=username agriturismo=agriturismo argomento=nome_pagina scelta='occupata' %}"> occupata </a>
            <a class="dropdown-item" href="{% url 'visualizza' username=username agriturismo=agriturismo argomento=nome_pagina scelta='libera' %}"> libera </a>
            <a class="dropdown-item" href="{% url 'visualizza' username=username agriturismo=agriturismo argomento=nome_pagina scelta='prenotata' %}"> prenotata </a>
            <a class="dropdown-item" href="{% url 'visualizza' username=username agriturismo=agriturismo argomento=nome_pagina scelta='non disponibile' %}"> non disponibile </a>
            <a class="dropdown-item" href="{% url 'visualizza' username=username agriturismo=agriturismo argomento=nome_pagina scelta='tutte' %}"> tutte </a>
          </div>
        </div>
      {%elif "clienti" in nome_pagina%} 
        <div class="dropdown">
          <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            stato
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="{% url 'visualizza' username=username agriturismo=agriturismo argomento=nome_pagina scelta='tutti' %}"> tutti </a>
            <a class="dropdown-item" href="{% url 'visualizza' username=username agriturismo=agriturismo argomento=nome_pagina scelta='cliente attuale' %}"> clienti attuali </a>
            <a class="dropdown-item" href="{% url 'visualizza' username=username agriturismo=agriturismo argomento=nome_pagina scelta='cliente non attuale' %}"> clienti passati </a>
          </div>
        </div>
        <div class="dropdown">
          <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            tipo
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="{% url 'visualizza' username=username agriturismo=agriturismo argomento=nome_pagina scelta='singolo' %}"> singolo </a>
            <a class="dropdown-item" href="{% url 'visualizza' username=username agriturismo=agriturismo argomento=nome_pagina scelta='coppia' %}"> coppia</a>
            <a class="dropdown-item" href="{% url 'visualizza' username=username agriturismo=agriturismo argomento=nome_pagina scelta='famiglia' %}"> famiglia </a>
          </div>
        </div>
      {%elif "dipendenti" in nome_pagina%}
        <div class="dropdown">
          <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            tipo
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="{% url 'visualizza' username=username agriturismo=agriturismo argomento=nome_pagina scelta='dirigenti' %}"> dirigenti </a>
            <a class="dropdown-item" href="{% url 'visualizza' username=username agriturismo=agriturismo argomento=nome_pagina scelta='addetto' %}"> addetti </a>
            <a class="dropdown-item" href="{% url 'visualizza' username=username agriturismo=agriturismo argomento=nome_pagina scelta='in prova' %}"> in prova </a>
          </div>
        </div>
      {%endif%}
    {%endblock%} 
    

    
    

    {% block data%}
    <!--visualizza i dati di tutte le camere-->
    {% if "camere" in nome_pagina and "tutte" in scelta%}
    <thead>
      <tr>
        <th> numero camera</th>
        <th> prezzo </th>
        <th> stato </th>
        <th> persone ospitabili </th>
        <th> appunti</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    {%for valore in valori_Rooms%}
    <thead>
      <tr>
        <th>{{valore.number}}</th>
        <th>{{valore.prize}}</th>
        <th>{{valore.stato}}</th>
        <th> {{valore.clienti_ospitabili}}</th>
        <th>{{valore.appunto_gestore}}</th>
        <th></th>
        <th> <a href="{% url 'modifica' username=username agriturismo=agriturismo argomento='camere' valore=valore.id %}" role="button" > modifica </a></th>
        <th> <a href="{% url 'elimina' username=username agriturismo=agriturismo argomento='camere' valore=valore.id %}" role="button" > elimina</a></th>
      </tr>
    </thead>
    <tbody>
    {%endfor%}
    <!--visualizza i dati della camere occupate -->
    {%elif "camere" in nome_pagina and "occupata" in scelta%}
    <thead>
      <tr>
        <th> numero camera</th>
        <th> prezzo </th>
        <th> cliente stanza </th>        
        <th> occupata fino a  </th>
        <th> appunto </th>
      </tr>
    </thead>
    <tbody>
    {% for Room in Rooms_occupata %}
    <thead>
      <tr>
        <th>{{Room.number}}</th>
        <th>{{Room.prize}} </th>
        {%for cliente in valori_Clients%}
        {%if cliente.id == Room.client_id%}
        <th>{{cliente.name}}</th>
        <th>{{cliente.to}}</th>
        {%endif%}
        {%endfor%}
        <th>{{Room.appunto}}</th>
      </tr>
    </thead>
    <tbody>
    {%endfor%}
    <!--visualizza i dati delle camere libere-->
    {%elif "camere" in nome_pagina and "libera" in scelta%}
    <thead>
      <tr>
        <th> numero camera</th>
        <th> prezzo </th>
        <th> stato </th>
        <th> persone ospitabili </th>
        <th> appunti</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    {%for valore in Rooms_libera%}
    <thead>
      <tr>
        <th>{{valore.number}}</th>
        <th>{{valore.prize}}</th>
        <th>{{valore.stato}}</th>
        <th>{{valore.clienti_ospitabili}}</th>
        <th>{{valore.appunto_gestore}}</th>
        <th></th>
        <th> <a href="{% url 'modifica' username=username agriturismo=agriturismo argomento='camere' valore=valore.id %}" role="button" > modifica </a></th>
        <th> <a href="{% url 'elimina' username=username agriturismo=agriturismo argomento='camere' valore=valore.id %}" role="button" > elimina</a></th>
      </tr>
    </thead>
    <tbody>
    {%endfor%}
    {% elif "camere" in nome_pagina and "non disponibile" in scelta%}
    <thead>
      <tr>
        <th> numero camera</th>
        <th> prezzo </th>
        <th> stato </th>
        <th> persone ospitabili </th>
        <th> appunti</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    {%for valore in Rooms_non_disponbile%}
    <thead>
      <tr>
        <th>{{valore.number}}</th>
        <th>{{valore.prize}}</th>
        <th>{{valore.stato}}</th>
        <th> {{valore.clienti_ospitabili}}</th>
        <th>{{valore.appunto_gestore}}</th>
        <th></th>
        <th> <a href="{% url 'modifica' username=username agriturismo=agriturismo argomento='camere' valore=valore.id %}" role="button" > modifica </a></th>
        <th> <a href="{% url 'elimina' username=username agriturismo=agriturismo argomento='camere' valore=valore.id %}" role="button" > elimina</a></th>
      </tr>
    </thead>
    <tbody>
    {%endfor%}
    {% elif "camere" in nome_pagina and "prenotata" in scelta%}
    <thead>
      <tr>
        <th> numero camera</th>
        <th> cliente che ha prenotato</th>
        <th> arrivo cliente</th>
        <th> appunti</th>
      </tr>
    </thead>
    <tbody>
    {% for camera in Rooms_prenotata %}
    <thead>
      <tr>
        <th>{{camera.number}}</th>
        <th>{{camera.prize}} </th>
        <th>{{camera.appunto}}</th>
      </tr>
    </thead>
    <tbody>
    {% endfor%}




    <!-- visualizza i dati dei clienti-->
    {% elif "clienti" in nome_pagina %}
    <thead>
      <tr>
        <th> nome cliente</th>
        <th> mail </th>
        <th> numero di telefono </th>
        <th> numero di visite </th>
        <th> spesa totale</th>
      </tr>
    </thead>
    <tbody>
    {% for valore in valori_Clients %}
    <thead>
      <tr>
        <th>{{valore.name}}</th>
        <th>{{valore.mail}} </th>
        <th>{{valore.number_cell}}</th>
        <th>{{valore.visit_numbers}}</th>
        <th> <a href="{% url 'elimina' username=username agriturismo=agriturismo argomento=nome_pagina valore=valore.id %}" role="button" > elimina</a></th>
      </tr>
    </thead>
    <tbody>
    {% endfor %}

    <!-- visualizza i dati dei dipendenti-->
    {% elif "dipendenti" in nome_pagina %}
    <thead>
      <tr>
        <th> nome dipendente</th>
        <th> codice fiscale </th>
        <th> iban </th>
        <th> mail </th>
        <th> stipendio </th>
        <th> pagamento del mese </th>
      </tr>
    </thead>
    <tbody>
    {% for valore in valori_Employee %}
    <thead>
      <tr>
        <th>{{valore.name}}</th>
        <th>{{valore.codice_fiscale}} </th>
        <th>{{valore.iban}}</th>
        <th>{{valore.mail}}</th>
        <th></th>
        <th></th>
        <th> <a href="{% url 'elimina' username=username agriturismo=agriturismo argomento=nome_pagina valore=valore.id %}" role="button" > elimina</a></th>
      </tr>
    </thead>
    <tbody>
    {% endfor %}

    {% elif "uscite" in nome_pagina %}
    <thead>
      <tr>
        <th> data uscita </th>
        <th> soldi spesi </th>
      </tr>
    </thead>
    <tbody>
    {% for valore in valori_Expense %}
    <thead>
      <tr>
        <th>{{valore.Date}}</th>
        <th>{{valore.Quantity}} </th>
        <th> <a href="{% url 'elimina' username=username agriturismo=agriturismo argomento=nome_pagina valore=valore.id %}" role="button" > elimina</a></th>
      </tr>
    </thead>
    <tbody>
    {% endfor %}

    {% elif "entrate" in nome_pagina %}
    <thead>
      <tr>
        <th> data entrata</th>
        <th> soldi quadagnati </th>
      </tr>
    </thead>
    <tbody>
    {% for valore in valori_Earnings %}
    <thead>
      <tr>
        <th>{{valore.Date}}</th>
        <th>{{valore.Quantity}} </th>
        <th> <a href="{% url 'elimina' username=username agriturismo=agriturismo argomento=nome_pagina valore=valore.id %}" role="button" > elimina</a></th>
      </tr>
    </thead>
    <tbody>
    {% endfor %}

    {% elif "promozioni" in nome_pagina %}
    <thead>
      <tr>
        <th> nome </th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    {% for valore in valori_Promotions %}
    <thead>
      <tr>
        <th>{{valore.name}}</th>
        <th> <a href="{% url 'elimina' username=username agriturismo=agriturismo argomento=nome_pagina valore=valore.id %}" role="button" > elimina</a></th>
    </thead>
    <tbody>
    {% endfor %}

    {% elif "servizzi" in nome_pagina %}
    <thead>
      <tr>
        <th> nome</th>
        <th> prezzo </th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    {% for valore in valori_Services %}
    <thead>
      <tr>
        <th>{{valore.name}} </th>
        <th>{{valore.prize}} </th>
        <th> <a href="{% url 'elimina' username=username agriturismo=agriturismo argomento=nome_pagina valore=valore.id %}" role="button" > elimina</a></th>
      </tr>
    </thead>
    <tbody>
    {% endfor %}


    {% endif %}
    {%endblock%}


    
</body>
</html>

