<!--visualizza i dati di una specifica attivita-->
{% extends "modello_visualizza.html" %}

{% if nome_pagina %}
       {% block title %} {{agriturismo}} {% endblock %}
       {%block h1%} {{agriturismo}} {%endblock%}
       {%block h2%} {{nome_pagina}} {{agriturismo}} {%endblock%}
{% endif %}


<!-- crea un pulsante per ogni attivita dell'agriturismo con un link per andare a quell'attivita-->
{%block attivita%}
    {% for attivita in lista_attivita_agriturismo%}
        <a href="/view/{{username}}/{{agriturismo_id}}/{{attivita.id}}" class="btn btn-primary" role="button"> {{attivita.ActivityType}} {{attivita.ActivityName}}  </a> 
    {%endfor%}
{%endblock%}

{%block gruppi_oggetti%}
    {% for gruppo in lista_gruppo_oggetti_attivita%}
        <a href="/view/{{username}}/{{agriturismo_id}}/{{attivita_id}}/{{gruppo.id}}/None" class="btn btn-primary" role="button"> {{gruppo.TypeName}} </a> 
    {%endfor%}
{%endblock%}


{%block filtri %}
    <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            stato
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        
        </div>
    </div>
{%endblock%}

{% block data%}
    {% if "camere" in oggetto and "tutte" in filtro%}
        <tr>
            <th> numero camera</th>
            <th> prezzo </th>
            <th> stato </th>
            <th> persone ospitabili </th>
            <th> appunti</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        {%for camera in camere%}
            <tr>
                <th>{{camera.number}}</th>
                <th>{{camera.prize}}</th>
                <th>{{camera.stato}}</th>
                <th>{{camera.clienti_ospitabili}}</th>
                <th>{{camera.appunto}}</th>
                <th></th>
                <th> <a href="{% url 'modifica' username=username agriturismo=agriturismo oggetto=oggetto id_oggetto=camera.id %}" role="button" > modifica </a></th>
                <th> <a href="{% url 'elimina' username=username agriturismo=agriturismo oggetto=oggetto id_oggetto=camera.id %}" role="button" > elimina</a></th>
            </tr>
        {%endfor%}
    {%endif%}
{%endblock%}

{% block pulsanti %}
    <a href="/gestione/{{username}}/{{agriturismo}}/{{oggetto}}/aggiungi" class="btn btn-primary" role="button">  aggiungi {{oggetto}} </a>
{%endblock%}