<!--visualizza i dati di una specifica attivita-->
{% extends "modello_visualizza.html" %}


<!-- crea un titolo con il nome dell'attività e dell'agriturismo in cui si trova l'utente-->
{%block h1%} {{attivita_name}} {{agriturismo_name}} {%endblock%}


<!-- crea un pulsante per ogni attivita dell'agriturismo con un link per andare a quell'attivita-->
{%block attivita%}
    {% for attivita in lista_attivita_agriturismo%}
        <a href="/view/{{account_id}}/{{agriturismo_id}}/{{attivita.id}}/None" class="btn btn-primary" role="button"> {{attivita.ActivityType}} {{attivita.ActivityName}}  </a> 
    {%endfor%}
{%endblock%}


<!-- crea un pulsante per ogni gruppo di oggetti dell'attivita con un link per andare a quel gruppo-->
{%block gruppi_oggetti%}
    {% for gruppo in lista_gruppo_oggetti_attivita%}
        <a href="/view/{{account_id}}/{{agriturismo_id}}/{{attivita_id}}/{{gruppo.id}}/None" class="btn btn-primary" role="button"> {{gruppo.TypeName}} </a> 
    {%endfor%}
{%endblock%}


<!-- crea dei pulsanti per la visualizzazione delle liste collegate alle attivita-->
{% block pulsanti_registri%}
    <a href="/view/{{account_id}}/{{agriturismo_id}}/{{attivita_id}}/entrate" class="btn btn-primary" role="button"> entrate </a> 
    <a href="/view/{{account_id}}/{{agriturismo_id}}/{{attivita_id}}/uscite" class="btn btn-primary" role="button"> uscite </a> 
    <a href="/view/{{account_id}}/{{agriturismo_id}}/{{attivita_id}}/lavoratori" class="btn btn-primary" role="button"> lavoratori </a> 
    <a href="/view/{{account_id}}/{{agriturismo_id}}/{{attivita_id}}/clienti " class="btn btn-primary" role="button"> clienti </a> 
{%endblock%}


{% block pulsanti %}
    <a href="/register_objects/{{account_id}}/{{agriturismo_id}}/{{attivita_id}}/{{lista}}/aggiungi/None" class="btn btn-primary" role="button">  aggiungi {{lista}}  </a>
{%endblock%}


<!-- blocco per la visualizzazione dei registri delle attività -->
{% block data%}
    <!-- lista delle entrate -->
    {% if lista == "entrate"%}
        <tr>
            <th> data</th>
            <th> quantita</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        {%for entrata in entrate_attivita%}
            <tr>
                <th>{{entrata.Date}}</th>
                <th>{{entrata.Quantity}}</th>
                <th></th>
                <th> <a href="/register_objects/{{username}}/{{agriturismo_id}}/{{attivita_id}}/entrate/modifica" role="button" > modifica </a></th>
                <th> <a href="/register_objects/{{username}}/{{agriturismo_id}}/{{attivita_id}}/entrate/elimina" role="button" > elimina</a></th>
            </tr>
        {%endfor%}
    <!-- lista delle uscite -->
    {% elif lista == "uscite"%}
        <tr>
            <th> data</th>
            <th> quantità </th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        {%for uscita in uscite_attivita%}
            <tr>
                <th>{{uscita.Date}}</th>
                <th>{{uscita.Qunatity}}</th>
                <th></th>
                <th> <a href="/register_objects/{{username}}/{{agriturismo_id}}/{{attivita_id}}/uscite/modifica" role="button" > modifica </a></th>
                <th> <a href="/register_objects/{{username}}/{{agriturismo_id}}/{{attivita_id}}/uscite/modifica" role="button" > elimina</a></th>
            </tr>
        {%endfor%}
    <!-- lista dei clienti -->
    {% elif lista == "clienti"%}
        <tr>
            <th> nome</th>
            <th> mail </th>
            <th> numero di telefono </th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        {%for cliente in clienti_attivita%}
            <tr>
                <th>{{cliente.name}}</th>
                <th>{{cliente.mail}}</th>
                <th>{{cliente.number_cell}}</th>
                <th></th>
                <th> <a href="/register_objects/{{username}}/{{agriturismo_id}}/{{attivita_id}}/clienti/modifica" role="button" > modifica </a></th>
                <th> <a href="/register_objects/{{username}}/{{agriturismo_id}}/{{attivita_id}}/uscite/elimina" role="button" > elimina</a></th>
            </tr>
        {%endfor%}
    <!-- lista dei lavoratori -->
    {% elif lista == "lavoratori"%}
        <tr>
            <th> nome </th>
            <th> codice fiscale </th>
            <th> iban </th>
            <th> mail </th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        {%for lavoratore in lavoratori_attivita%}
            <tr>
                <th>{{lavoratore.name}}</th>
                <th>{{lavoratore.codice_fiscale}}</th>
                <th>{{lavoratore.iban}}</th>
                <th>{{lavoratore.mail}}</th>
                <th></th>
                <th> <a href="/register_objects/{{username}}/{{agriturismo_id}}/{{attivita_id}}/lavoratori/modifica" role="button" > modifica </a></th>
                <th> <a href="/register_objects/{{username}}/{{agriturismo_id}}/{{attivita_id}}/lavoratori/elimina" role="button" > elimina</a></th>
            </tr>
        {%endfor%}
    {%endif%}
{%endblock%}